{% extends 'vacancy/base.html' %}
{% block container %}
    <main class="container mt-3 pb-5">
        <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
            <div class="card-body px-3 pb-4">
                <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
                {% if messages %}
                    {% for message in messages %}
                        <p{% if message.tags %}
                            class="alert alert-info"{% endif %}>{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <form action="" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userName">{{ form.name.label }}</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userSurname">{{ form.surname.label }}</label>
                                {{ form.surname }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userReady">{{ form.status.label }}</label>
                                {{ form.status }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userPortfolio">{{ form.salary.label }}</label>
                                {{ form.salary }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark"
                                       for="userSpecialization">{{ form.specialty.label }}</label>
                                {{ form.specialty }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userQualification">{{ form.grade.label }}</label>
                                {{ form.grade }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group pb-2">
                        <label class="mb-2 text-dark" for="userEducation">{{ form.education.label }}</label>
                        {{ form.education }}
                    </div>
                    <div class="form-group pb-2">
                        <label class="mb-2 text-dark" for="userExperience">{{ form.experience.label }}</label>
                        {{ form.experience }}
                    </div>
                    <div class="form-group pb-3">
                        <label class="mb-2 text-dark" for="userPortfolio">{{ form.portfolio.label }}</label>
                        {{ form.portfolio }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Сохранить">
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}